@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-poppins: "Poppins", sans-serif;
  --color-blue-primary: #007aff;
  --color-blue-secondary: #0e55df;
  --color-blue-tertiary: #00c5ff;
  --color-pink: #d200a5;
  --color-background: rgba(208, 208, 212, 0.911);
  --color-grey-primary: #eaecf1;
  --color-grey-secondary: #aab6ce;
  --color-grey-tertiary: grey;
}

body {
  height: 100vh;
  background: var(--color-background);
}

.input-container {
  width: 350px;
  position: relative;
  margin: 0 auto;
  display: flex;
  gap: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.label {
  position: absolute;
  left: 20px;
  top: 12px;
  transition: all 0.2s;
  z-index: 1;
  color: #b3b3b3;
  user-select: none;
}

.text-input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #2f2c45;
  background: var(--color-grey-primary);
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s;
  color: black;
}

.label::before {
  content: "";
  height: 5px;
  background: var(--color-grey-primary);
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.text-input:focus {
  border: 2px solid var(--color-blue-primary);
}

.text-input:focus + .label {
  top: -10px;
  color: var(--color-blue-primary);
  font-size: 18px;
  text-shadow: 1.5px 1px 2px rgba(8, 8, 8, 0.493);
}

.text-input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

.text-input:focus::placeholder {
  opacity: 1;
}

.text-input:focus::placeholder {
  opacity: 1;
}

.text-input:not(:placeholder-shown) + .label {
  top: -10px;
  color: var(--color-blue-primary);
  font-size: 18;
}

.inform-cep {
  text-align: center;
  margin-top: 10em;
}

.inform-cep h1 {
  font-family: Poppins, sans-serif;
  color: var(--color-blue-primary);
  font-size: 2.5em;
}

.inform-cep input {
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--color-blue-primary);
  padding: 10px;
}

.inform-cep button,
#clear {
  height: 40px;
  width: 130px;
  background: linear-gradient(
    90deg,
    var(--color-blue-tertiary),
    var(--color-blue-secondary)
  );
  border-radius: 20px;
  color: #fff;
  border: 1px solid;
  cursor: pointer;
  transition: 0.7s;
}

.inform-cep button:hover {
  box-shadow: inset 200px 0 0 var(--color-blue-secondary);
}

#clear {
  opacity: 0.5;
}
#clear:hover {
  opacity: 1;
  box-shadow: inset 200px 0 0 var(--color-blue-secondary);
}

.result-cep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.result-cep h1 {
  font-family: var(--font-poppins);
  font-size: 1em;
  color: var(--color-pink);
  margin-top: 1.5em;
  display: flex;
}

.logradouro {
  font-family: var(--font-poppins);
  height: 40px;
  width: 350px;
  border-radius: 20px;
  background: var(--color-grey-primary);
  border: 1px solid var(--color-blue-primary);
  padding: 10px;
  color: var(--color-grey-tertiary);
  outline: none;
}

.city {
  font-family: var(--font-poppins);
  height: 40px;
  width: 280px;
  border-radius: 20px;
  background: var(--color-grey-primary);
  border: 1px solid var(--color-blue-primary);
  padding: 10px;
  color: var(--color-grey-tertiary);
  outline: none;
}

.state {
  font-family: var(--font-poppins);
  height: 40px;
  width: 65px;
  border-radius: 20px;
  background: var(--color-grey-primary);
  border: 1px solid var(--color-blue-primary);
  padding: 10px;
  color: var(--color-grey-tertiary);
  outline: none;
}
